
<div class="jumbotron jumbotron-fluid home" >
    <div class="container" >
      <h1 class="display-4"  class="animated fadeIn fast">
        ¡Bienvenido al sistema para el control de ruido!</h1>
        <hr>
      <p class="lead " class="animated fadeIn">
        
          Por medio de este sistema podrás obtener información constante del ruido que hay en el ambiente de la biblioteca.</p>
    </div>
   
  </div>
  <div class="container" style="text-align: center;">
    <h1 class="lead ">Iniciar dispositivos</h1>
    <img src="assets/img/iniciar.png" width="80px" (click)="onclick('ON')" height="80px">
    <h1 class="lead" style="margin-top: 40px;">Apagar dispositivos</h1>
    <img src="assets/img/apagar.png" width="100px" height="100px" (click)="onclick('OFF')">
  </div>
