<h1>Plano biblioteca</h1>
<hr>
<div class="row">
    <div class="col-3 offset-md">
        <ul class="list-group-collapse" id="side-menu-collapse">

            <li class="list-group-item list" style="z-index: 100;" *ngFor="let device of devices" cdkDrag >
                {{device.deviceName}} <button type="button collapse-toggle "  data-target="#side-menu-collapse"
                    class="btn btn-success btn-circle btn-xl animate flash"><i class="fa fa-link"></i>
                </button>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md offset-md">
            <img src="assets/img/planoBack.jpg" class="plano">
        </div>
    </div>
</div>
