

@media screen {
    .plano {
        vertical-align:center;
        text-align: center;
        display:block;
        }
    }

@media screen and (min-width: 768px) {
    .custom-collapse .collapse{
                display:block;
          }  
    }

.salon0{
    width: 40px;
    height: 40px;
    transform: translate3d(183px, -833px, 0px);
}
.salon2{
    width: 40px;
    height: 40px;
    transform: translate3d(400px, -491px, 0px);
}
.salon3{
    width: 40px;
    height: 40px;
    transform:translate3d(575px, -769px, 0px);
    
}
@media screen and (max-width: 1024px) {
    .title {
        margin-top:30%;
        text-align: center;
        margin-bottom: 10px;

        }
    }
@media screen and (min-width:1024px) {
    .title {
        margin-top:10%;
        text-align: center;
        margin-bottom: 10px;
        }
    }    