

@media screen {
    .plano {
        vertical-align:center;
        text-align: center;
        display:block;
        }
    }

@media screen and (min-width: 768px) {
    .custom-collapse .collapse{
                display:block;
          }  
    }

.salon0{
    width: 40px;
    height: 40px;
    transform: translate3d(177px, -709px, 0px);
}
.salon1{
    width: 40px;
    height: 40px;
    transform: translate3d(402px, -540px, 0px);
}
.salon2{
    width: 40px;
    height: 40px;
    transform:translate3d(171px, -334px, 0px);
    
}
@media screen and (max-width: 800px) {
    .title {
        margin-top:30%;
        }
    }

@media screen and (min-width:1024px) {
    .title {
        margin-top:10%;
        }
    }    