<h1 class="title" style="font-family: 'Montserrat', sans-serif;">Plano biblioteca</h1>
<app-mqtt></app-mqtt> 
<hr>
<div class="row" style="text-align:left;">
            <div class="col-3">
              <div class="card">
                <div class="card-body">
                    <div class="card">
                    <div class="card-body">
                  <h6 class="card-title" style="font-family: 'Montserrat', sans-serif;">Enviar mensaje a todos los dispositivos:</h6>
                  <input #valor style="margin-bottom: 20px;" type="text" class="form-control" placeholder="Mensaje">
                  <button  style="margin-bottom: 20px;"  (click)="onclick(valor.value)"  class="btn btn-primary">Enviar </button>
                </div>
            </div>    
                  <div class="card" style="margin-top: 20px;">
                    <div class="card-body">
                  <h6  style="font-family: 'Montserrat', sans-serif;">Dispositivo:</h6>
                  <select (change)="saveId($event)" class="custom-select mr-sm-2 " id="deviceName" >
                    <option  disabled selected value >Seleccione...</option>
                    <option value={{item.deviceName}} *ngFor="let item of devices; let i = index">{{devices[i]['deviceName']}}</option>
                  </select>
                  <h6 style="margin-top:20px;font-family: 'Montserrat', sans-serif;" >Enviar mensaje al dispositivo:</h6>
                  <input #valor1 style="margin-bottom: 20px;" type="text" class="form-control" placeholder="Mensaje">
                  <button  style="margin-bottom: 20px;"  (click)="onclick1(valor1.value)"  class="btn btn-primary">Enviar </button>
                </div>
                </div>
            </div>
              </div>
            </div>
            
       
    <div class="col-4 ">
        <div class="row">
            <div class="col">
                <img src="assets/img/planoBiblio.png" class="plano">
            </div>
        </div>
     
        <ul class="list-group-collapse" id="side-menu-collapse">
            <h1 *ngFor="let device of devices;let i = index"> 
                <button *ngIf="device.status=='BAJO'" (click)="viewDevice(i)"  type="button"[ngClass]="'salon'+ device.sala"  class="btn btn-success btn-circle btn-xl animate flash"><i class="fa fa-link" style="font-size:9px; color: black;">{{device.deviceName}}</i>
                </button>
                <button  *ngIf="device.status!='BAJO'" (click)="viewDevice(i)" type="button" [ngClass]="'salon'+ device.sala"  class="btn btn-danger btn-circle btn-xl animate flash"><i class="fa fa-link" style="font-size:9px; color: black;">{{device.deviceName}}</i>
                </button>
            </h1>
        </ul>
    </div>
</div>
