<h1>Plano biblioteca</h1>
<hr>
<div class="row">
    <div class="col-3 offset-md">
        <ul class="list-group-collapse" id="side-menu-collapse">
            <li class="list-group-item list" style="z-index:100;"  *ngFor="let device of devices;let i =index"> 
             {{device.deviceName}}
                <button *ngIf="device.status=='BAJO'" type="button"[ngClass]="'salon'+ device.class"  class="btn btn-success btn-circle btn-xl animate flash"><i class="fa fa-link"></i>{{i}}
                </button>
                <button  *ngIf="device.status!='BAJO'" type="button" [ngClass]="'salon'+ device.class" class="btn btn-danger btn-circle btn-xl animate flash"><i class="fa fa-link"></i>{{i}}
                </button>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md offset-md">
            <img src="assets/img/planoBack.jpg" class="plano">
        </div>
    </div>
</div>
