
.plano{
    margin-right:70;
    width:150%;
    height:100%;
    position: relative;
}

.list{
    margin-top: 20px;
    position: relative;
    z-index: 100;
    width: 200px;
    background-color: slategrey;
}
@media screen and (min-width: 768px) {

    .custom-collapse .collapse{
                display:block;
          }  
    }

.div0{
    transform: translate3d(259px, 72px, 0px);
    background-color: red;
}

.div1{
    transform: translate3d(545px, -31px, 0px);
}
.div2{
    transform: translate3d(253px, 69px, 0px);
    position: static;
}