/* DRAG AND DROP */

.draggable_handle, .draggable_section_handle {
	cursor: move;
}

/* TEACHER LESSONS */

.list_icons {
    float:right;
    display:none;
}

/* HELP */

h4 {
    font-size: 23px;
    padding-top: 10px;
}

p.imgL-blue {
	overflow: hidden;
}
p.imgL-blue img, img.imgL-blue {
	float: left;
	margin: 0 12px 5px 0;
}

/* TOP NAV */

nav.mainNav.lessonNav h2 {
	font-size: 23px; /* was 25 */
}

h1 {
	font-size: 26px; /* was 34 */
}

h2 {
    font-size: 21px; /* was 23 */
}

/* CALENDAR */

#centreColumn h1#current_month {
	line-height: 29px;
}

#wrapper {position:relative; z-index:2;}

/* TINYMCE */
.mce-container i:after, i.mce-ico:after {
	content: none !important;
	background: none !important;
}

/* FILE UPLOAD */
.progress-bar-container{border:1px solid #ccc;margin:4px 0;overflow:hidden;height:30px;position:relative}
.progress-bar-container b{float:right}
.progress-bar-container .text{position:absolute;width:99%;padding:5px;top:0}
.progress-bar-container .close_image{float: right;margin: 4px 0 0 5px;}
.progress-bar {background-color:#85C3CC;width:0;height:30px}

@-webkit-keyframes progress {to {background-position: 30px 0;}}
@-moz-keyframes progress {to {background-position: 30px 0;}}
@keyframes progress {to {background-position: 30px 0;}}

.progress-bar._processing {-webkit-animation: progress 1s linear infinite; -moz-animation: progress 1s linear infinite; animation: progress 1s linear infinite; background-repeat: repeat-x; background-size: 30px 30px; background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);}

/* FACEBOX */
#facebox div.image img {padding:10px 10px 0 0;}

/* IE UPLOAD HACK */
.visibleImp {display:block !important;}
.forcePositionForm {position:relative; z-index:99999;}
.plupload.forcePosition {cursor:pointer; top:auto !important; bottom:-40px !important; left:0 !important; width:65px !important; height:27px !important;}
.plupload.forcePosition input {top:0 !important; left:0 !important; margin:0 !important; position:absolute !important; cursor:pointer; float:none !important;}

/* Upload progress bar */
#facebox .optionsRibbon { width: 498px; position: relative; display: inline-block; margin: 0 14px 0 -4px; padding-bottom: 0; overflow: visible; }
#facebox .optionsRibbon ul { margin-left: 0; }
#facebox .optionsRibbon .filecontainer .filelist { position: relative; top: 3px; }
#facebox .progress-bar-container { width: 99%; }
#facebox .progress-bar-container .text { width: 98%; }
#facebox .progress-bar-container .close_image { float: right; margin: 4px 0px 0px 5px!important; border: 0; outline: none; }
#progressBarInit .progress-bar-container .text { width: 99%; }
