@font-face {
    font-family: 'RobotoLightNew';
    src: url('all-new/roboto-light-webfont.eot');
    src: url('all-new/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('all-new/roboto-light-webfont.woff') format('woff'),
         url('all-new/roboto-light-webfont.ttf') format('truetype'),
         url('all-new/roboto-light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoRegularNew';
    src: url('all-new/roboto-regular-webfont.eot');
    src: url('all-new/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('all-new/roboto-regular-webfont.woff') format('woff'),
         url('all-new/roboto-regular-webfont.ttf') format('truetype'),
         url('all-new/roboto-regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLightItalicNew';
    src: url('all-new/roboto-lightitalic-webfont.eot');
    src: url('all-new/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('all-new/roboto-lightitalic-webfont.woff') format('woff'),
         url('all-new/roboto-lightitalic-webfont.ttf') format('truetype'),
         url('all-new/roboto-lightitalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('all/Roboto-Light-webfont.eot');
    src: url('all/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('all/Roboto-Light-webfont.woff') format('woff'),
         url('all/Roboto-Light-webfont.ttf') format('truetype'),
         url('all/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('all/Roboto-Regular-webfont.eot');
    src: url('all/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('all/Roboto-Regular-webfont.woff') format('woff'),
         url('all/Roboto-Regular-webfont.ttf') format('truetype'),
         url('all/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLightItalic';
    src: url('all/Roboto-LightItalic-webfont.eot');
    src: url('all/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('all/Roboto-LightItalic-webfont.woff') format('woff'),
         url('all/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('all/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('all-new/roboto-bold-webfont.eot');
    src: url('all-new/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('all-new/roboto-bold-webfont.woff') format('woff'),
         url('all-new/roboto-bold-webfont.ttf') format('truetype'),
         url('all-new/roboto-bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
