<p>PLANO PISO 1</p> 
<app-drag></app-drag>
<div >
<img src="assets/img/planoBack.jpg" width="80%" height="70%">
<div class="container" style="height: 1000px">
    <div class="row h-100">
      <div class="col-md-6 blue draggable-container">
          <div class="row">
              <div class="col-md-6">
                <div id="draggable-containment" class="card card-body">
                  <h4 class="card-title">Draggable panel</h4>
                  <p class="card-text">I can only move inside blue container</p>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-6 mdb-color"></div>
  </div>

</div>
